@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
       <h2 class="section-title">Popular Cetegories</h2>
        <p class="section-info font2">Shop From These Categories Often Buy</p>
        <div class="categories-slider owl-carousel owl-theme mb-4 appear-animate" data-owl-options="{
                        'items': 1,
                        'responsive': {
                            '576': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '992': {
                                'items': 4
                            }
                        }
                    }" data-animation-name="fadeInUpShorter" data-animation-delay="200">
            @foreach (var item in Model)
            {
                 <div class="product-category bg-white">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        <figure><img width="341" height="200" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" /></figure>
                      <div class="category-content">
                        <h3 class="font2 ls-n-2">
                            @item.Name
                 
                        </h3>
                      </div>
                    </a>
                 </div>
            }
        </div>
    </div>
}